
        <div class="icon"><i class="bx bx-file"></i></div>
        <h4>@Model.Name</h4>
        <p>Team Leader: @Model.User.UserName</p>
        <p>Started On: @Model.StartDate</p>
        <p>Deadline: @Model.FinDate</p>
        <hr />
        <p>Description:</p>
        <p>@Model.Description</p>




